body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 'monospace';
  font-family: 'Bungee Inline', cursive;
  font-family: 'Oswald', sans-serif;
  font-family: 'Bungee', cursive;
}


:root {
  --bg: #d1d1d1;
  --bg-accent: #484a4d;
  --text-color: #c0c0c0;
  --nav-size: 60px;
  --border: 1px solid #000000;
  --border-radius: 8px;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  font-size: large;
  text-shadow:1px 1px 5px #000000 ;
  text-decoration: none;
}



/* 

NavBar

*/
.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}


.nav-item {
  width: calc(var(--nav-size)* 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Button */
.icon-button {
  --button-size: calc(var(--nav-size) * 0.4);
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--bg-accent);
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover{
  filter: brightness(1.5);
}

.icon-button svg {
  fill: var(--text-color);
  width: 25px;
  height: 25px;
}



/* 

Dropdown Menu

*/
.dropdown {
  position: absolute;
  top: 56px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  overflow: hidden;
  z-index: 1;
  transition: height var(--speed) ease;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item:hover{
  background-color: #525357;
}

.icon-right {
  margin: auto;
}



/* 

main menu animation 

*/
.menu{
 width: 100%;
}
.menu-primary-enter {
 position: absolute;
 transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}



/* 

SubMenu animation 

*/
 .menu-secondary-enter {
  transform: translateX(110%);
 }
 .menu-secondary-enter-active {
   transform: translateX(0%);
   transition: all var(--speed) ease;
 }
 .menu-secondary-exit {
   
 }
 .menu-secondary-exit-active {
   transform: translateX(110%);
   transition: all var(--speed) ease;
 }



 /*


 Main Title : Welcome To DEV MACHINA


 */
.titleImage{
  z-index: -1;
  background-size: 'cover'; 
  background-position: 'center center';
}
.subTitle {
  font-family:  'Oswald', sans-serif;
  font-weight: lighter;
  font-size: xx-large;
  color: #cecece;
  text-shadow: 10px 7px  4px rgb(0, 0, 0);
  animation: fadeIn;
  animation-duration: 2.5s;
  animation-timing-function: ease-in;
}
@keyframes fadeIn {
  0% {opacity: 0.0;}
  50% {opacity: 0.5;}
  75% {opacity: 0.75;}
  100%{opacity: 1.0;}
}
.title {
  font-family: 'Bungee Inline', 'Oswald', sans-serif;
  font-size: 3rem;
  font-weight: lighter;
  color: #bebebe;
  text-shadow: 10px 7px  4px rgb(0, 0, 0);
}



/* 

About Me Section

*/
.aboutMeBox{
  background-color: var(--bg);
}
.aboutMePage {
  background: var(--bg);
  display: grid;
  grid-template-areas:
  " profilePic  profilePic  profilePic  profilePic  profilePic"
  " title       title       title       title       title"
  " aboutMe     aboutMe     aboutMe     aboutMe     aboutMe ";
  grid-template-columns: auto;
  grid-template-rows: auto;
  margin: auto;
  padding: 20px;
  height: auto;
  overflow: hidden;
  text-align: left;
  width: 70%;
}
.aboutMeTitle {
  grid-area: title;
  color: var(--bg-accent);
  padding: 0px;
  margin: 10px 0px;
  text-shadow: none;
  font-size: 2rem;
  font-family: 'Oswald';
}
.aboutMeSection{
  color: var(--bg-accent);
  grid-area: aboutMe;
  /* overflow-y: scroll; */
  height: 90%;
  padding: 2px;
  margin: 5px auto;
}
.profilePic {
  grid-area: profilePic;
  height: 100%;
  width: 100%;
  padding: 2px;
  margin: auto;
}



/* 

Developer Skills Section

*/
.developerSkillsBox{
  height: auto;
  margin: auto;
}
.developerSkillsPage {
  margin: auto;
  padding: 20px;
  height: auto;
  width: 70%;
}
.developerSkills {
  display: grid;
  grid-template-areas:
  "skillsTitle skillsTitle"
  " html  css "
  " javascript jquery "
  "react ruby ";
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 20px;
}
.developerSkillsTitle {
  grid-area: skillsTitle;
  font-family: 'Oswald';
  font-size: 2rem;
  color: #e2e2e2;
  text-shadow: 10px 7px  5px rgb(0, 0, 0);
}
.developerSkillsPage span{
  display: block;
  color: #e2e2e2;
  font-family: 'Oswald' sans-serif;
  font-size: larger;
  font-weight: bolder;
}
.html{
  grid-area: html;
  color: #ff6600;
}
.css {
  grid-area: css;
  color: #0096d1;
}
.javascript {
  grid-area: javascript;
  color: #9dff00;
}
.jquery {
  grid-area: jquery;
  color: #0066ff;
}
.react {
  grid-area: react;
  color: #0096d1;
}
.ruby {
  grid-area: ruby;
  color: #d10000;
}



/* 

Contact me Form

*/
.contactMeBox {
  background-color: var(--bg);
  height: auto;
}
.contactMeForm {
  background-color: var(--bg);
  height: auto;
  width: 50%;
  margin: auto;
  padding: 10px 0px;
  
  display: grid;
  grid-template-areas:
  "contactMeSection myInfoBox";
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}
.contactMeTitle, .myInfoTitle{
  font-family: 'Oswald';
  font-size: 2rem;
  color: var(--bg-accent);
  margin:  20px 0px;
}
input, textarea{
  margin-bottom: 20px;
}
.myInfoBox {
  grid-area: myInfoBox;
  color: var(--bg-accent);
}
.contactMeSection {
  grid-area: contactMeSection;
}
.myInfo {
  margin: 5px;
}